body{background-color: rgba(88, 49, 4, 0.85);}



header { text-align: center;
    color:burlywood;
    font-size: 40px;
}

h2 {text-align: left;
background-color: bisque;
width: 200px;
  height: 50px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;}

  section {display: inline-flex;}
  